body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
    
}

nav{
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: violet;
}

.navbar{
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0,5px;
    padding: 0 10px;
}

.navbar:after{
    content: "";
    position: absolute;
    background-color: orange;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar:hover{
    color:white;

}
.navbar:hover:after{
    width: 100px;

}

#logo{
    width: 5vw;
    height: auto;
}

.texto{
    margin-left: 17%;
    margin-right: 1rem;
    background-color:rgb(247, 247, 247);
    width: 70vw;
    height: 1430px;

}

#titulo{
    position: absolute;
    margin-left: 25vw;
    width: 22vw;
    font-size: 25px;
}

.rec{
    position: absolute;
    top: 200px;
    width: 67vw;
    padding: 1rem;
    font-size: 20px;
}

#rec1{
    text-decoration: none;
    list-style: none;
    position: absolute;
    margin-left: 3%;
    width: 17vw;
    padding: 1rem;
    padding-bottom: 207px;
    border: blue 2px solid;
    color: black;
}

#rec2{
    text-decoration: none;
    position: absolute;
    margin-left: 34.2%;
    width: 17vw;
    padding: 1rem;
    padding-bottom: 230px;
    border: blue 2px solid;
    color: black;
}

#rec3{
    text-decoration: none;
    background-color: white;
    position: absolute;
    margin-left: 65%;
    width: 17vw;
    padding: 1rem;
    padding-bottom: 207px;
    border: blue 2px solid;
    color: black;
}

#rec4{
    text-decoration: none;
    background-color: white;
    position: absolute;
    top: 380px;
    margin-left: 3%;
    width: 17vw;
    padding: 1rem;
    padding-bottom: 216px;
    border: blue 2px solid;
    color: black;
}

#rec5{
    text-decoration: none;
    background-color: white;
    position: absolute;
    top: 380px;
    margin-left: 34.2%;
    width: 17vw;
    padding: 1rem;
    padding-bottom: 217px;
    border: blue 2px solid;
    color: black;
}

#rec6{
    text-decoration: none;
    background-color: white;
    position: absolute;
    top: 380px;
    margin-left: 65%;
    width: 17vw;
    padding: 1rem;
    padding-bottom: 195px;
    border: blue 2px solid;
    color: black;
}


#reftit{
    position: absolute;
    top: 1050px;
    margin-left: 30vw;
    width: 42vw;
    font-size: 25px;
}
#ph{
    position: absolute;
    margin-left: 4%;
    font-size: 25px;
}

#paghome{
    background-color: white;
    position: absolute;
    margin-left: 4%;
    top: 1150px;
    width: 59vw;
    padding: 1rem;
    height: 120px;
    padding-bottom: 40px;
    border: blue 2px solid;
}
#pagfisica{
    background-color: white;
    position: absolute;
    margin-left: 4%;
    top: 1350px;
    width: 59vw;
    padding: 1rem;
    height: 120px;
    padding-bottom: 40px;
    border: blue 2px solid;
}

#pagmental{
    background-color: white;
    position: absolute;
    margin-left: 4%;
    top: 1550px;
    width: 59vw;
    padding: 1rem;
    height: 300px;
    padding-bottom: 40px;
    border: blue 2px solid;
}

#pagdicas{
    background-color: white;
    position: absolute;
    margin-left: 4%;
    top: 1950px;
    width: 59vw;
    padding: 1rem;
    height: 150px;
    padding-bottom: 40px;
    border: blue 2px solid;
}

#refes{
    color: black;
    width: 26vw;
}

#titsn{
    position: absolute;
    top: 2150px;
    width: 170px;
    margin-left: 31%;
    font-size: 32px;
    
}
#p1{
    position: absolute;
    top: 2300px;
    width: 240px;
    height: 240px;
    border-radius: 200px;
    margin-left: 1%;   
    padding: 1vw;
}

#p2{
    position: absolute;
    top: 2300px;
    width: 240px;
    height: 240px;
    border-radius: 200px;
    padding: 1vw;
    margin-left: 27%;
}

#p3{
    position: absolute;
    top: 2300px;
    width: 240px;
    height: 240px;
    border-radius: 200px;
    padding: 1vw;
    margin-left: 52%;
}
#pt1{
    position: absolute;
    top: 2600px;
    width: 160px;
    margin-left: 5%;
    font-size: 22px;
}
#pt2{
    position: absolute;
    top: 2600px;
    width: 160px;
    margin-left: 31%;
    font-size: 22px;
}
#pt3{
    position: absolute;
    top: 2600px;
    width: 160px;
    margin-left: 56%;
    font-size: 22px;
}

#descricao{
    position: absolute;
    top: 2700px;
    width: 58vw;
    margin-left: 5%;
    font-size: 20px;
    
}
footer{
    background-color: #ecf6bb ;
    display: flex;
    text-decoration: none;
    opacity: 0.7;
    position: absolute;
    top: 2900px;
    height: 15vw;
    width: 100vw;
}

#lg{
    width: 10vw;
    height: auto;
    margin-left: 47.2vw;
}
.H{
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat;
}
#H {
    position: absolute;
    margin-top: auto;
    margin-left: 43.7vw;
    margin-top: 5vw;
}
.SM{
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat;
}

#SM {
    position: absolute;
    margin-top: auto;
    margin-left: 47.15vw;
    margin-top: 5vw;
}
.R{
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat;
}
#R{
    position: absolute;
    margin-top: auto;
    margin-left: 53.7vw;
    margin-top: 5vw;
}

#Email{
    position: absolute;
    margin-top: 8vw;
    margin-left: -13vw;
    width: 3vw;
}

#Wtt {
    position: absolute;
    margin-top: 7.5vw;
    margin-left: -6.8vw;
    width: 3vw;
}

#Yt {
    position: absolute;
    margin-top: 8vw;
    margin-left: -1vw;
    width: 3vw;
}

#IFC{
    position: absolute;
    width: 10vw;
    height: auto;
    margin-left: -10.4vw;
    margin-top: 10.7vw;
}
#©{
    position: absolute;
    margin-left: 50vw;
    margin-top: 14vw;
}


