body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
    
}

nav{
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: violet;
}
.navbar{
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0,5px;
    padding: 0 10px;

}
.navbar:after{
    content: "";
    position: absolute;
    background-color: orange;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar:hover{
    color:white;

}
.navbar:hover:after{
    width: 100px;


}
#logo{
    width: 5vw;
    height: auto;
}

#textoinicial{
    background-color: white;
    position: absolute;
    top: 330px;
    height: 150px;
    margin-left: 17%;
    padding: 1vw;
    width: 67vw;
    align-items: center;
    text-align: left;
    overflow: hidden;
    font-size: 20px;
}

.texto{
    background-color: white;
    position: absolute;
    top: 340px;
    width: 40vw;
    height: 320px;
    margin-top: 7rem;
    margin-left: 17%;
    padding: 1vw;
    align-items: center;
    text-align: left;
    font-size: 20px;
}
#sub1{
    width: 33vw;
}

#sub2{
    width: 33vw;
}
.imgt{
    background-color: white;
    position: absolute;
    width: 30.85vw;
    top: 350px;
    height: 340px;
    margin-top: 7rem;
    left: 55vw;

}
#ft1{
    width: 405px;
    height: 280px;
}
.texto2{
    background-color: white;
    position: absolute;
    width: 67vw;
    top: 750px;
    height: 150px;
    margin-left: 17%;
    padding: 1vw;
    font-size: 20px;
}
.dics{
    background-color: white;
    position: absolute;
    top: 920px;
    width: 67vw;
    height: 2200px;
    margin-left: 17%;
    padding: 1vw;
    align-items: center;


}


#dics1{
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 200px;
    margin-left: -2%;   
    padding: 1vw;
}
#dics2{
    position: absolute;
    top: 300px;
    width: 240px;
    height: 240px;
    border-radius: 200px;
    padding: 1vw;
    margin-left: 73%;
}
#dics3{
    position: absolute;
    top: 600px;
    width: 240px;
    height: 240px;
    border-radius: 200px;
    padding: 1vw;
    margin-left: -2%;
}

#dics4{
    position: absolute;
    top: 900px;
    width: 240px;
    height: 240px;
    border-radius: 200px;
    padding: 1vw;
    margin-left: 73%;
}

#dit1{
    position: absolute;
    top: 80px;
    background-color: white;
    font-size: 20px;
    width: 600px;
    margin-left: 28%;
}
#dit2{
    position: absolute;
    top: 380px;
    background-color: white;
    font-size: 20px;
    width: 600px;
    margin-left: 15%;

}
#dit3{
    position: absolute;
    top: 680px;
    background-color: white;
    font-size: 20px;
    width: 600px;
    margin-left: 28%;

}
#dit4{
    position: absolute;
    top: 980px;
    background-color: white;
    font-size: 20px;
    width: 600px;
    margin-left: 15%;
}


.textodnvo{
    background-color: white;
    position: absolute;
    width: 67vw;
    margin-left: 17%;
    top: 2200px;
    font-size: 20px;
    padding: 1vw;

}

#imagemtit{
    position: absolute;
    top: 2400px;
    margin-left: 17%;
    
}
.txt3{
    background-color: white;
    position: absolute;
    top: 3000px;
    width: 63vw;
    height: 1320px;
    margin-top: 7rem;
    margin-left: 17%;
    padding: 3vw;
    align-items: center;
    text-align: left;
    font-size: 20px;
}

#txt31{
    width: 58vw;
}
#txt32{
    position: absolute;
    top: 900px;
    font-size: 20px;
    z-index: 100;
}
#circuito{
    background-color: white;
    position: absolute;
    top: 3450px;
    margin-left: 17% ;
}

#ultima{
    background-color: white;
    position: absolute;
    top: 4250px;
    margin-left: 17%;
}

#duvidas{
    background-color: white;
    position: absolute;
    top: 5150px;
}
footer{
    background-color: #ecf6bb ;
    display: flex;
    text-decoration: none;
    opacity: 0.7;
    position: absolute;
    top: 5400px;
    height: 15vw;
    width: 100vw;
}

#lg{
    width: 10vw;
    height: auto;
    margin-left: 47.2vw;
}
.H{
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat;
}
#H {
    position: absolute;
    margin-top: auto;
    margin-left: 43.7vw;
    margin-top: 5vw;
}
.SM{
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat;
}

#SM {
    position: absolute;
    margin-top: auto;
    margin-left: 47.15vw;
    margin-top: 5vw;
}
.R{
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat;
}
#R{
    position: absolute;
    margin-top: auto;
    margin-left: 53.7vw;
    margin-top: 5vw;
}

#Email{
    position: absolute;
    margin-top: 8vw;
    margin-left: -13vw;
    width: 3vw;
}

#Wtt {
    position: absolute;
    margin-top: 7.5vw;
    margin-left: -6.8vw;
    width: 3vw;
}

#Yt {
    position: absolute;
    margin-top: 8vw;
    margin-left: -1vw;
    width: 3vw;
}

#IFC{
    position: absolute;
    width: 10vw;
    height: auto;
    margin-left: -10.4vw;
    margin-top: 10.7vw;
}
#©{
    position: absolute;
    margin-left: 50vw;
    margin-top: 14vw;
}


