body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
    
}

nav{
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: violet;
}
.navbar{
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0,5px;
    padding: 0 10px;

}
.navbar:after{
    content: "";
    position: absolute;
    background-color: orange;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar:hover{
    color:white;

}
.navbar:hover:after{
    width: 100px;


}
#logo{
    text-decoration: none;
    display: flex;
}
.logo:hover{
    color: white;
    transition: 0.3s;
}
.texto{
    margin-left: 17%;
    margin-right: 1rem;
    background-color:rgb(247, 247, 247);
    width: 70vw;
    height: 1812px;
    /* height: 100%; */
    z-index: 1;
}
#titu{
    position: absolute;
    /* margin-left: 31vw; */
    top: 8vw;
    margin: auto 25vw;
    width: 50vw;
    font-size: 25px;
    /* display: flex;
    flex-wrap: wrap;
    align-content: left; */


}
#txt1{
    position: absolute;
    top: 10vw;
    margin-left: 4%;
    margin-right: 4%;
    width: 62vw;
    padding: 1rem;
    font-size: 20px;
}
#txt2{
    position: absolute;
    top: 18.6vw;
    margin-left: 4%;
    margin-right: 4%;
    width: 62vw;
    padding: 1rem;
    font-size: 20px;
}
.dicas{
    position: absolute;
    top: 25.5vw;
    margin-left: 18%;
    width: 67vw;
    padding: 1rem;
    font-size: 20px;
}
#dica1{
    background-color: white;
    position: absolute;
    margin-left: 3%;
    width: 17vw;
    padding: 1rem;
    padding-bottom: 217px;
    border: blue 2px solid;

}
#dica2{
    background-color: white;
    position: absolute;
    margin-left: 35%;
    width: 17vw;
    padding: 1rem;
    padding-bottom: 127px;
    border: blue 2px solid;
}
#dica3{
    background-color: white;
    position: absolute;
    margin-left: 65%;
    width: 17vw;
    padding: 1rem;
    border: blue 2px solid;
}
#titu2{
    position: absolute;
    top: 59vw;
    margin-left: 13.2vw;
    width: 50vw;
    font-size: 25px;
   
}
#txt3{
    position: absolute;
    top: 1000px;
    margin-right: 4%;
    margin-left: 4%;
    width: 62vw;
    padding: 1rem;
    font-size: 20px;

}
#f1{
    width: 540px;
    height: 400px;
}
#f2{
    width: 540px;
    height: 400px;
}
#f3{
    width: 540px;
    height: 400px;
}

.carrosel{
    width: 540px;
    height: 400px;
    overflow: hidden;
    margin: 50px auto;
    
}
.carrosel ul{
    display: flex;
    list-style: none;
    width: 1620px;
    height: 400px;

}
.carrosel li{
    position: relative;
    animation: slide 15s infinite ease-out;
}
@keyframes slide {
    0%{left: -40px}
    20%{left: -40px}    
    30%{left: -580px}
    50%{left: -580px}
    60%{left: -1120px}
    90%{left: -1120px}
    100%{left: 0px}
}